<head>
    <link rel="stylesheet" href="../css/styles.css">
</head>

<h1>
    IT Academy
</h1>
<h3>
    Commencez par vous connecter
</h3>
<h2>
    Entrer votre pseudo
</h2>

<form action="/login/getPseudotoFinalize" method="get">
    <input type="text" name="pseudo" id="pseudo" />
    <input type="submit" value="Enregistrer" />
</form>