<head>
    <link rel="stylesheet" href="../css/styles.css">
</head>

<h1>
    IT Academy
</h1>

<h2>
    Entrer votre pseudo
</h2>

<form action="/login/getPseudo" method="get">
    <input type="text" name="pseudo" id="pseudo" />
    <input type="submit" value="Enregistrer" />
</form>