<head>
    <link rel="stylesheet" href="../css/styles.css">
</head>

<h1>
    IT Academy
</h1>
<h3>
    <%=connect%>
</h3>
<h2>
    Entrer votre pseudo
</h2>

<form action="/login/getPseudo" method="post">
    <input type="text" name="pseudo" />
    <input type="submit" value="Enregistrer" />
</form>